<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" 
    type="button" id="dropdownMenuButton1" 
    data-bs-toggle="dropdown" 
    aria-expanded="false">
      Available bank accounts
    </button>
    
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li *ngFor="let account of accounts" (click) = "handleBankAccount(account)">
        <a class="dropdown-item" href="#">{{account.accountNum}}</a>
      </li>
    </ul>
</div>

<div *ngIf="show">
  <p><b>Account number</b> : {{selectedAccount.accountNum}} 
    <br/>
    <b>Account balance</b> : {{selectedAccount.balance}}
    <br/>
    <span *ngIf="selectedAccount.overdraft > 0"><b>Overdraft balance</b> : {{selectedAccount.overdraft}}</span>
  </p>
</div>

<p></p>

<div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Successfull withdrawal</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<p></p>

<div class="row g-3" *ngIf="show">
    <div class="col-auto">
      <label for="withdrawText" class="visually-hidden">Amount to withdraw</label>
      <input type="text" readonly class="form-control-plaintext" id="withdrawText" value="Amount to withdraw">
    </div>
    <div class="col-auto">
      <label for="withdrawAmount" class="visually-hidden">1000</label>
      <input [(ngModel)]="withdrawalAmount" type="number" class="form-control" id="withdrawAmount" placeholder="1000">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-danger mb-3" (click) = "withdraw()">Withdraw</button>
    </div>
</div>